{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>

          {% comment %} we use @property in models for this    {% endcomment %}
          <p class="fw-bold">Price: {{item.total_cost}}</p>
        </div>
      </div>
    {% endfor %}
    <p class="fw-bold"> Total Cost + Rs. 70 = {{total_amount}}</p>
    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone/" id="myform">
      {% for add in add %}
      <div class="card">
        <div class="card-body">
        <h5>{{ add.name }}</h5>
        <p>{{ add.locality }}, {{add.city}}, {{add.state}} - {{add.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{add.id}}">
          <input type="hidden" id="paypal-payment-id" name="paypal-payment-id" value="">

          <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
            Address: {{forloop.counter}} </label>
        </div>

        {% endfor %}
        <div class="text-end">
          {% comment %} <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button> {% endcomment %}
          <!-- Set up a container element for the button -->
         <div id="paypal-button-container"></div>
        </div>  
        {% comment %} <div class="text-end"></div> {% endcomment %}

        {% csrf_token %}
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_bdEZ8a1mK96ALp"
            data-amount="{{total_amount}}"
            data-currency="INR"
            data-order_id="{{payment.id}}"
            data-buttontext="Pay with Razorpay"
            data-name="Acme Corp"
            data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
            data-prefill.name="Gaurav Kumar"
            data-prefill.email="gaurav.kumar@example.com"
            data-theme.color="#F37254"
        ></script>

        <!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AT-9V4o_Ntnhs6TgvnfvTDbhVe3j4DHB11TYsY6DhZ5XEs2gpCKVPjyCLJiYo4katruRTE9x6yizxi7E&currency=USD"></script>

<script>
  function initPayPalButton() {
      paypal.Buttons({
          style: {
              shape: 'rect',
              color: 'gold',
              layout: 'vertical',
              label: 'paypal',
          },

          createOrder: function(data, actions) {
              return actions.order.create({
                  purchase_units: [{"amount":{"currency_code": "USD", "value": '{{total_amount}}'}}]
              });
          },

          onApprove: function(data, actions) {
              return actions.order.capture().then(function(orderData) {

                 var paypalPaymentID = orderData.purchase_units[0].payments.captures[0].id;

                  // Full available details
                  console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                  // Show a success message within this page, for example:
                  const element = document.getElementById('paypal-button-container');
                  element.innerHTML = '';
                  element.innerHTML = '<h3>Thank you for your payment!</h3>';
                  document.getElementById('paypal-payment-id').value = paypalPaymentID;
                  document.getElementById('myform').submit();

                  // Or go to another URL:  actions.redirect('thank_you.html');

              });
          },

          onError: function(err) {
              console.log(err);
          }
      }).render('#paypal-button-container');
  }
  initPayPalButton();




</script>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}
{% block payment-gateway %} 



{% comment %} <form method="POST" action="/paymentdone/"  id="razor-form">
  {% for add in add %}
  <div class="card">
      <div class="card-body">
          <h5>{{ add.name }}</h5>
          <p>{{ add.locality }}, {{add.city}}, {{add.state}} - {{add.zipcode}}</p>
      </div>
  </div>
  <div class="form-check mt-2 mb-5">
      <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{add.id}}">
      <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
          Address: {{forloop.counter}}
      </label>
  </div>
  {% endfor %}
  <div class="text-end">
      <!-- Set up a container element for the button -->
  </div>  {% endcomment %}

  {% comment %} {% csrf_token %}
  <script
      src="https://checkout.razorpay.com/v1/checkout.js"
      data-key="rzp_test_bdEZ8a1mK96ALp"
      data-amount="{{total_amount}}"
      data-currency="INR"
      data-order_id="{{payment.id}}"
      data-buttontext="Pay with Razorpay"
      data-name="Acme Corp"
      data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
      data-prefill.name="Gaurav Kumar"
      data-prefill.email="gaurav.kumar@example.com"
      data-theme.color="#F37254"
  ></script> {% endcomment %}
{% comment %} </form> {% endcomment %}


{% endblock payment-gateway %}

