{% extends 'app/base.html' %}
{% block title %}Password Change Successful{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3>Password Changed Successful</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen> </iframe>
            </div>
            <p>Your password has been changed successfully.</p>
            <p><a href="{% url 'home' %}" class="btn btn-primary">Go to Home</a></p>
        </div>
    </div>
</div>
{% endblock main-content %}
